<div class="container my-5">
    <div class="row" style="text-align: center;">
        <h4>¿Qué tipo de persona eres?</h4>
    </div>
    <div class="row"> 
        
        <div class="text-center">
            <button type="button" class="btn btn-danger m-4 p-3" (click)="personaNatural()">Persona Natural</button>
            <!--
            <button type="button" class="btn btn-danger m-4 p-3" (click)="personaJuridica()">Persona Jurídica</button>
            -->
        </div>
    </div>
    
</div>
