<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h3 class="text-danger text-center">Cuenta Persona Natural</h3>
      <form [formGroup]="registrationForm" class="row g-3" novalidate (ngSubmit)="onSubmit()" #ngForm="ngForm">
        <h4>Ingrese sus datos:</h4>
        <div class="col-md-6">
          <label for="nombres" class="form-label">Nombres</label>
          <input type="text" id="nombres" name="nombres" class="form-control uppercase" formControlName="nombres"
            [ngClass]="{'is-invalid': ngForm.submitted && IsInvalid('nombres')}">
          <div class="invalid-feedback">
            Este campo es requerido.
          </div>
        </div>
        <div class="col-md-6">
          <label for="apellidos" class="form-label">Apellidos</label>
          <input type="text" id="apellidos" name="apellidos" class="form-control uppercase" formControlName="apellidos"
            [ngClass]="{'is-invalid': IsInvalid('apellidos')}">
          <div class="invalid-feedback">
            Este campo es requerido.
          </div>
        </div>
        <div class="col-md-6">
          <label for="cedula" class="form-label">CI</label>
          <input type="text" name="cedula" id="cedula" (keypress)="keyPressNumbers($event)" class="form-control"
            formControlName="cedula" [ngClass]="{'is-invalid': IsInvalid('cedula')}">
          <div class="invalid-feedback">
            <div *ngIf="cedula?.errors?.['required']">
              Este campo es requerido
            </div>
            <div *ngIf="cedula?.errors?.['minlength']">Campo no cumple el mínimo
              de {{ cedula?.errors?.['minlength'].requiredLength }} caracteres</div>
            <div *ngIf="cedula?.errors?.['maxlength']">Campo supera máximo
              de {{ cedula?.errors?.['maxlength'].requiredLength }} caracteres</div>
          </div>
        </div>

        <div class="col-md-6">
          <label for="fechaNacimiento" class="form-label">Fecha de nacimiento</label>
          <input type="date" name="fechaNacimiento" id="fechaNacimiento" class="form-control"
            formControlName="fechaNacimiento" [ngClass]="{'is-invalid': IsInvalid('fechaNacimiento')}">
          <div class="invalid-feedback">
            Este campo es requerido.
          </div>
        </div>
        <div class="col-md-6">
          <label for="nacionalidad" class="form-label">Nacionalidad</label>
          <select class="form-select" name="nacionalidad" id="nacionalidad" formControlName="nacionalidad"
            [ngClass]="{'is-invalid': IsInvalid('nacionalidad')}">
            <option [ngValue]="null"> - Seleccione - </option>
            <option *ngFor="let item of nacionalidades" [ngValue]="item.iso">
              {{item.gentilicio}}
            </option>
          </select>
          <div class="invalid-feedback">
            Este campo es requerido.
          </div>
        </div>
        <div class="col-md-6">
          <label for="telefono" class="form-label">Telefono</label>
          <input type="text" id="telefono" name="telefono" (keypress)="keyPressNumbers($event)" class="form-control"
            formControlName="telefono" [ngClass]="{'is-invalid': IsInvalid('telefono')}">
          <div class="invalid-feedback">
            Este campo es requerido.
          </div>
        </div>


        <h4>Cree su usuario y contraseña:</h4>

        <div class="col-12">
          <label for="correoElectronico" class="form-label">Correo electrónico</label>
          <input type="email" id="correoElectronico" name="correoElectronico" class="form-control"
            formControlName="correoElectronico" [ngClass]="{'is-invalid': IsInvalid('correoElectronico')}">
          <div class="invalid-feedback">
            Ingrese un correo electrónico válido.
          </div>
        </div>
        <div class="col-md-6">
          <label for="contrasenia" class="form-label">Crear Contraseña</label>
          <input type="password" id="contrasenia" name="contrasenia" class="form-control"
            aria-describedby="passwordHelpInline" formControlName="contrasenia"
            [ngClass]="{'is-invalid': IsInvalid('contrasenia')}">
          <span id="passwordHelpInline" class="form-text">
            Debe tener entre 6 y 12 caracteres, al menos 1 letra mayúscula, al menos 1 número y un símbolo (*, +, $, ¡).
          </span>
          <div class="invalid-feedback">
            <div *ngIf="contrasenia?.errors?.['required']">
              Este campo es requerido
            </div>
            <div *ngIf="contrasenia?.errors?.['pattern']">
              La contraseña no cumple con el formato indicado
            </div>
            <div *ngIf="contrasenia?.errors?.['minlength']">Campo no cumple el mínimo
              de {{ contrasenia?.errors?.['minlength'].requiredLength }} caracteres</div>
            <div *ngIf="contrasenia?.errors?.['maxlength']">Campo supera máximo
              de {{ contrasenia?.errors?.['maxlength'].requiredLength }} caracteres</div>
          </div>
        </div>
        <div class="col-md-6">
          <label for="confirmarContrasenia" class="form-label">Confirmar Contraseña</label>
          <input type="password" id="confirmarContrasenia" name="confirmarContrasenia" class="form-control"
            aria-describedby="passwordHelpInline" formControlName="confirmarContrasenia"
            [ngClass]="{'is-invalid': IsInvalid('confirmarContrasenia')}">
          <div class="invalid-feedback">
            <div *ngIf="confirmarContrasenia?.errors?.['required']">Este campo es requerido</div>
            <div *ngIf="confirmarContrasenia?.errors?.['matching']">Las contraseñas deben coincidir</div>
          </div>
        </div>


        <div class="col-md-12">
          <label for="comoContactaste" class="form-label">¿Cómo nos contacto?</label>
          <select class="form-select" name="comoContactaste" id="comoContactaste" formControlName="comoContactaste"
            [ngClass]="{'is-invalid': IsInvalid('comoContactaste')}">
            <option [ngValue]="null"> - Seleccione - </option>
            <option value="1">Redes Sociales</option>
            <option value="2">Publicidad</option>
            <option value="3">Analista de Operaciones</option>
          </select>
          <div class="invalid-feedback">
            Este campo es requerido.
          </div>
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="true" id="acuerdo" name="acuerdo"
              formControlName="acuerdo" [ngClass]="{'is-invalid': IsInvalid('acuerdo')}">
            <label class="form-check-label" for="acuerdo">
              Estoy de acuerdo y acepto los <a href="../../../assets/files/TERMINOS_DE_USO_APLICACION.pdf" target="_blank">términos de uso</a> y de <a href="../../../assets/files/TERMINOS_CONDICIONES.pdf" target="_blank">privacidad de la plataforma</a>
            </label>
            <div class="invalid-feedback">
              Debe de aceptar los términos de uso.
            </div>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-danger">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>