<div class="container">
    <div class="row mt-5">
        <div class="col-12 col-lg-6 mb-4">
            <div class="row"></div>
            <div class="col-12">
                <h1 class="text-danger">SOMOS MÚLTIPLO</h1>
                <p>La plataforma digital, líder de financiamiento colaborativo en Ecuador, que multiplica ganancias en
                    la vida de todos, formando un ecosistema de desarrollo en el país.</p>
                <p><strong>Nuestras convicciones para lograrlo:</strong></p>
                <ol>
                    <li>Creemos en la redistribución de la riqueza, al desintermediar a los participantes tradicionales.
                    </li>
                    <li>Nuestras Oportunidades de Inversión son transparentes, ágiles, eficientes y flexibles.</li>
                    <li>Nuestros Inversionistas (llamados Multiplolenders) encuentran en nuestra selección, carteras de
                        inversión equilibradas, diversificadas y con rentabilidad superior al sistema financiero.</li>
                    <li>Nuestros objetivos anuales incluyen el Número de Nuevos Empleos Generados por Año, financiando a
                        empresas en crecimiento con liquidez eficiente.</li>
                    <li>Nuestro fin ulterior es la retribución social a través de programas de empoderamiento financiero
                        a jóvenes de escuelas públicas, quienes serán futuros trainees en las empresas afiliadas</li>
                </ol>
            </div>
            <div class="col-12 text-center">
                <button type="button" class="btn btn-danger btn-lg" [routerLink]="'/register'">
                    Registrarse
                </button>
            </div>
        </div>

        <div class="col-12 col-lg-6 my-auto">
            <div class="video-responsive">
                <iframe src="https://www.youtube.com/embed/ZNMRxPN2_OU" frameborder="0" allowfullscreen></iframe>
                </div>
        </div>

    </div>
</div>